{{!--
  webCoRE Discourse theme

  Copyright 2017 by its authors; see AUTHORS.md or
  https://webcore-mechanics.github.io/webCoRE-discourse-theme/AUTHORS

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
--~}}

<ul class="conversations">
	<li>
		<ul class="conversation">
			<li class="them">
				Can my smoke alarm trigger a web API call?
			</li>
			<li class="us">
				webCoRE can make web API requests and you can easily connect to other services via IFTTT. <a href="/t/basic-web-request-troubleshooting/526">Learn more</a>
			</li>
		</ul>
	</li>
	<li>
		<ul class="conversation">
			<li class="them">
				I want to see the status of all my devices at a glance.
			</li>
			<li class="us">
				You can add "tiles" in webCoRE to show the status of all your devices and even react to clicks on those tiles. <a href="/t/device-status-tiles/371">Learn more</a>
			</li>
		</ul>
	</li>
</ul>
