{{!--
  webCoRE Discourse theme

  Copyright 2017-2018 authors; see AUTHORS.md or
  https://webcore-mechanics.github.io/webCoRE-discourse-theme/AUTHORS

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
--~}}

<ul class="quick-links nav nav-pills">
	<li><a href="https://wiki.webcore.co/Glossary" target="_blank">
		Terminology
	</a></li>
	<li><a href="https://wiki.webcore.co/Creating_your_first_piston" target="_blank">
		Your first piston
	</a></li>
	<li><a href="https://wiki.webcore.co/Variable" target="_blank">
		Variables
	</a></li>
	<li><a href="https://wiki.webcore.co/Functions" target="_blank">
		Functions
	</a></li>
	<li><a href="https://wiki.webcore.co/Expressions" target="_blank">
		Expressions
	</a></li>
	<li><a href="https://wiki.webcore.co/Samples#Presence_Tiles" target="_blank">
		Dashboard tiles
	</a></li>
	<li><a href="https://wiki.webcore.co/Piston_State" target="_blank">
		Piston state
	</a></li>
	<li><a href="/t/conditions-and-triggers-the-difference/164" target="_blank">
		Conditions &amp; triggers
	</a></li>
	<li><a href="https://wiki.webcore.co/Weather" target="_blank">
		Weather
	</a></li>
</ul>
