/*!
 * webCoRE Discourse theme
 *
 * Copyright 2017-2018 authors; see AUTHORS.md or
 * https://webcore-mechanics.github.io/webCoRE-discourse-theme/AUTHORS
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@import 'apply';

@mixin badge($group, $badges: $badges) {
	$badge: map-get($badges, $group);
	$content: map-get($badge, content);

	// .username has a max-width applied that should be removed for long badge text
	@if str-length($content) > 20 {
		max-width: none;
	}

	&::after {
		@include apply($badge);

		display: inline-block;

		// Reduced font size for long badges
		@if str-length($content) > 20 {
			font-size: 13px;
		}

		// Badges on their own line for small screens
		@media screen and (max-width: map-get($breakpoints, badges-below-username)) {
			display: table-cell;
			margin-left: 0;
		}
	}
}
