/*!
 * webCoRE Discourse theme
 *
 * Copyright 2017-2018 authors; see AUTHORS.md or
 * https://webcore-mechanics.github.io/webCoRE-discourse-theme/AUTHORS
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

// Allow content containers to extend the full width of the viewport
#main-outlet {
	// Align topic navigation directly below the top nav
	padding-top: 63px;

	// Was applied to .wrap
	.container,
	.search-container {
		max-width: 1110px;
		margin: 0 auto;
		padding-left: 16px;
		padding-right: 16px;
	}

	&,
	> .container:first-child {
		max-width: none;
		padding-left: 0;
		padding-right: 0;
	}
}
