/*!
 * webCoRE Discourse theme
 *
 * Copyright 2017-2018 authors; see AUTHORS.md or
 * https://webcore-mechanics.github.io/webCoRE-discourse-theme/AUTHORS
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

@import 'variables';

#main .d-header {
	// Subtle shadow below navbar
	box-shadow: 0 1px 1px rgba(black, 0.25) !important;

	// Smaller nav icons
	.d-header-icons .fa {
		font-size: 1.3em;
	}

	.logo-small {
		width: 33px;
	}

	// Replace the header search UI with the webCoRE logotype
	.title {
		// Logo icon
		a {
			background: url($logomark-image) center no-repeat;
			background-size: contain;

			img {
				opacity: 0;
			}
		}

		// Logo text
		.header-search {
			margin-left: 8px;

			&::before {
				display: block;
				content: ' ';
				background: url($logotype-image) center no-repeat;
				background-size: contain;
				width: 144px;
				height: 26px;
			}

			> * {
				display: none !important;
			}
		}
	}
}

// Align topic navigation directly below the header
#main-outlet {
	padding-top: 63px;
	margin-top: 0;
}
